.categ{
    padding-top: 40px;
    min-height : 6vh;
    display: flex;
}
.categ__list li a, .dropdown li{
    text-decoration: none;
    font-size: 11px;
    letter-spacing: 1.5px;
    color: #000;
    font-weight: 500;
}

.categ__list li a:hover{
    color: #333;
}
.categ__logo{
    width: 300px;
    margin-right: 30px;
}
.categ__logo img{
    width: 100%;
    object-fit: contain;
}
.categ__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.categ__list li{
    list-style-type: none;
    padding : 0px 20px;
    cursor : pointer;
    
    position: relative;
    
}

.categ__list li a{
    display: block;
    
}
.dropdown{
    position: absolute;
    top : 1rem;
    left : 0;
    background-color: white;
    display: none;
    /* z-index: 9999; */
}
.dropdown li:hover{
    color: #333;
}
.dropdown li{
    width: 100%;
    padding: 5px 25px;
    
}
.categ__list li:hover > .dropdown{
    display: initial;
    transition: all 3s ease;

}


@media screen and (max-width : 768px){
    .categ__logo{
        display: none;
    }
    .categ__list{
        padding-left: 15px;
        padding-right: 15px;
    }
    .categ__list li{
        font-size: 9px;
        letter-spacing: 1px;
        padding: 0px 10px;

    }
    .categ__list li{
        display: none;
    }
}