.hr__contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}
.contact__ImgWrap{
    cursor: pointer;
    width: 400px;
    height: auto;
}
.contact__Img{
    width: 100%;
    object-fit: contain;
}

.contact__dets{ 
    width: 500px;
}
.contact__dets p{
    font-family: Oranienbaum;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0em;
    line-height: 1.5em;
    text-transform: none;
    color: #050000;
    padding-top: 15px;
    
}
.contact__dets__text{
    margin-top: 25px;

}
.contact__form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    z-index: -9999 !important;
}
.form__row{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form__message{
    width: 100%;
}