.HomeHeader{
   position: relative;
   padding-top : 40px;
}   
.HomeHeaderImg{
    width: 100%;
    object-fit: cover ;
    object-position: center;
}
.Intro{
    position: absolute;
    top : 0;
    left: 0;

    
    width: 100%;
    height : 100%;
    background : rgba(0, 0, 0, 0.2);
    color : #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     
}
.Intro > * {
    animation: IntroAnimation 3s ease-in-out 100ms ;
}
.Intro h3{
    font-size: 50px;
    text-transform: capitalize;
}
.Intro h6{
    font-size: 13px;
    font-weight : 300;
}
@keyframes IntroAnimation{
    from{
        transform : translateX(-500px)
    }
    to{
        transform: translateX(0px);
    }
}
/* form  */
.subscribe{
    min-height: 230px;
    font-family: Oranienbaum;

    padding:  25px 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} 
.subscribe::before{
    content: "";
    left: 0;
    bottom : 0;
    width: 85vw;
    height: 1px;
    background-color: black;
}
.subscribe::after{
    content: " ";
    left: 0;
    top : 0; 
    position: relative;
    width: 85vw;
    height: 1px;
    background-color: black;
    z-index: -99;
    
}
.subscribe > p{
    color: #272727;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 1.2em;
    text-transform: capitalize;
    width: 300px;
}

.subscribeForm > button, .subscribeForm > input{
    height: auto;
    padding: 1em 2.5em;
    margin-top : 5px;
    border-radius : 3px;
}
.subscribeForm > input{
    margin-right: 3px;
    outline: none;
    border: 1px solid #938E91;
}
.subscribeForm > button{
    background-color: #231f20;
    border: none;
    font-family: inherit;
    font-size: 15px;
    outline : none;
    cursor: pointer;
    color: #fff;
}
.subscribeForm > input::placeholder{
    font-size: 11px;
    letter-spacing : 1.1px;
}

.warning__true, .success__true{
    display : block;
    color : rgb(228, 43, 43);
    font-size: 14px;
    text-align: center;
}
.success__true{
    color : rgb(18, 241, 18);
}

.warning__false, .success__false{
    text-align: center;
    display: none;
    
}

/* catalogue   */
.Cat__Catalogue{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    padding: 5px 20px;
}

.catalogue__wrap{
    width: 20vw;
    cursor: pointer;

    position: relative;
}
.catalogue__wrap img{
    width: 100%;
    height: 240px;
    object-fit: cover;

    display : block;
}

.image__overlay{
    position: absolute;
    top : 0;
    left: 0;
    width: 100%;
    height : 240px;
    background : rgba(0, 0, 0, 0.6);
    color : #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all ease-in-out 400ms;
}
.image__overlay > *{
    transform : translateY(30px);
    transition : transform 400ms;
}
.image__overlay:hover{
    opacity: 1;
}
.image__overlay:hover > *{
    transform:  translateY(0);
}
.image__title{
    text-transform: uppercase;
    font-weight: 500;
}
.image__description{
    font-size: 10px;
}
.image__overlay__blur{
    backdrop-filter: blur(5px);
}
/* zoom image out  */
.zoomOut {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    object-fit: contain;
    z-index : 9999;
}
@media screen and (max-width : 768px){
    /* .HomeHeader{ */
        /* min-height: 50vh */
    /* } */
    .subscribe > p{
        font-size: 22px;
        text-align: center;
    }   
    .subscribeForm > button, .subscribeForm > input{
        height: 40px;
        width: 100%;
        padding: 0.6em 1.5em;
        margin-top : 8px;
    }
    .subscribeForm > button{
        font-size: 12px;
    }
    .Cat__Catalogue{
        display: none;
    }
    .Intro h3{
        font-size: 30px;
    }
    .Intro h6{
        font-size: 11px;
    }
}
@media screen and (max-width : 400px){
    .subscribe > p{
        font-size: 18px; 
    }
    .subscribeForm > button, .subscribeForm > input{
        height: auto;
        padding: 0.4em 1em;
        margin-top : 8px;
        border-radius : 3px;
    }
    .subscribeForm > button{
        font-size: 11px;
    }
    
}